
@media (min-width: 0px) {
    h2 {font-size:2rem;} /*1rem = 16px*/
    h4 {font-size:0.5rem;} /*1rem = 16px*/
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
    h2 {font-size:2.5rem;} /*1rem = 16px*/
    h4 {font-size:0.5rem;} /*1rem = 16px*/
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    h2 {font-size:2.5rem;} /*1rem = 16px*/
    h4  {font-size:1rem;} /*1rem = 16px*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h2 {font-size:3rem;} /*1rem = 16px*/
    h4 {font-size:1.5rem;} /*1rem = 16px*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    h2 {font-size:3.5rem;} /*1rem = 16px*/
    h4 {font-size:1.5rem;} /*1rem = 16px*/
}



.outsideWrapper{
    width:636px; height:509px;}
.insideWrapper{
    width:100%; height:100%;
    position:relative;}
.coveredImage{
    width:100%; height:100%;
    position:absolute; top:0px; left:0px;
}
.coveringCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0);
}

.blink {
    animation: blink-animation 1.5s linear infinite;
    -webkit-animation: blink-animation 1.5s linear infinite;
}
@keyframes blink-animation {
    0% {
        background-color: rgba(255, 170, 50,0)
    }
    50% {
        background-color: rgba(255, 170, 50,1)
    }
    100% {
        background-color: rgba(255, 170, 50,0)
    }
}
@-webkit-keyframes blink-animation {
    0% {
        background-color: rgba(255, 170, 50,0)
    }
    50% {
        background-color: rgba(255, 170, 50,1)
    }
    100% {
        background-color: rgba(255, 170, 50,0)
    }
}